<?xml version="1.0" encoding="UTF-8"?>
<!--
 * $Id$
 * Copyright 2008 The Eraser Project
 * Original Author: Joel Low <lowjoel@users.sourceforge.net>
 * Modified By:
 *
 * This file is part of Eraser.
 *
 * Eraser is free software: you can redistribute it and/or modify it under the
 * terms of the GNU General Public License as published by the Free Software
 * Foundation, either version 3 of the License, or (at your option) any later
 * version.
 *
 * Eraser is distributed in the hope that it will be useful, but WITHOUT ANY
 * WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR
 * A PARTICULAR PURPOSE. See the GNU General Public License for more details.
 *
 * A copy of the GNU General Public License can be found at
 * <http://www.gnu.org/licenses/>.
-->

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="3CD6BF73-CEF1-4648-B0C6-5F3370F80C7D" Name="Eraser" Language="1033" Version="6.0.0.1"
			Manufacturer="The Eraser Project" UpgradeCode="F7C915E0-B081-4a80-97E2-FDA462FEDF05">
		<Package Id="*" InstallerVersion="200" Compressed="yes" Keywords="Eraser"
			Description="Eraser Installer" Manufacturer="The Eraser Project" />
		<Media Id="1" Cabinet="Installer.cab" EmbedCab="yes" />

		<!-- Check for .NET 3.5 -->
		<Property Id='FRAMEWORK35'>
			<RegistrySearch Id='Framework35Registry' Type='raw'
				Root='HKLM' Key='Software\Microsoft\NET Framework Setup\NDP\v3.5'
				Name='Install' />
		</Property>
		<Condition Message='Eraser requires the .NET Framework 3.5 or higher to be installed.'>
			FRAMEWORK35 = "#1"
		</Condition>

		<!-- Program upgrades-->
		<InstallExecuteSequence>
			<RemoveExistingProducts After="InstallInitialize" />
		</InstallExecuteSequence>

		<!-- Program directory -->
		<Directory Id="TARGETDIR" Name="SourceDir">
			<?if $(sys.BUILDARCH) = "x64"?>
				<Directory Id="ProgramFiles64Folder">
					<Directory Id="PFFolder" />
				</Directory>
			<?else?>
				<Directory Id="ProgramFilesFolder">
					<Directory Id="PFFolder" />
				</Directory>
			<?endif?>

			<Directory Id="ProgramMenuFolder" Name="ProgramMenu" />
			<Directory Id="DesktopFolder" Name="Desktop" />
		</Directory>

		<!-- Features -->
		<Feature Id="EraserMain" Title="Eraser" Description="The main Eraser program files." Level="1"
				ConfigurableDirectory="INSTALLLOCATION" AllowAdvertise="system" Display="expand">
			<ComponentRef Id="EraserMain" />
			<ComponentRef Id="EraserLangEn" />
			<ComponentRef Id="EraserPlugins" />
			<ComponentRef Id="EraserPluginsLangEn" />

			<Feature Id="EraserLanguages" Title="Alternative Languages"
					Description="Alternative localised version of Eraser." Level="10"
					Display="expand">
				<Feature Id="EraserLanguagesNl" Title="Dutch" Description="Dutch localisation" Level="10">
					<ComponentRef Id="EraserLangNl" />
					<ComponentRef Id="EraserPluginsLangNl" />
				</Feature>
			</Feature>
		</Feature>
	</Product>
</Wix>
